@import 'variables.scss';
.section-cursus {
    margin: 0 0 150px 0;
    .all-cursusu {
        margin-left: 150px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        .one-cursus {
            .year {
                font-size: 4em;
                font-weight: 700;
                margin: 0;
            }
            .line {
                width: 100%;
                height: 10px;
                background-color: $yellow;
                margin-bottom: 10px;
            }
            .cursus-body {
                // margin: 0 0 0 110px;
                width: 200px;
                .graduation-name {
                    font-size: 1.4em;
                    font-weight: 600;
                    margin: 0 0 8px 0;
                }
                i {
                    font-size: 1.2em;
                }
                .graudation-location {
                    font-style: normal;
                }
            }
        }
    }
}

//* Skills
.skills {
    .fav-container {
        position: relative;
        width: 100%;
        height: 700px;
        
        h3 {
            font-style: italic;
            font-size: 2em;
            color: white;
            margin: 0 0 70px 0;
        }
        .fav-absolute {
            position: absolute;
            background-color: $yellow;
            width: 100vw;
            padding: 50px 0 50px 50px;
            .fav-flex {
                display: flex;
                .fav-logos {
                    padding: 0 0px 0 150px;
                    // svg {}
                }
            }
            // .fav-gears {}
        }
    }
}

//* Galerie
.gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p{  
        padding: 0 0 60px 0;
        font-size: 2em;
        width: 630px;
        line-height: 50px;
        a {
            transition: all ease-in-out 0.2s;
            font-weight: 900;
            color: #0057ff;
            &:hover {
                color: $yellow;
                font-size: 1.1em;
            }
        }
        i {
            font-weight: 200;;
        }
    }

}

//* contacts
.contacts {
    div {
        p{
            span{

            }
        }
    }
    .contacts-container {
        div {
            display: flex;
            align-items: center;
            font-size: 2em;
            margin-bottom: 20px;
            span {
                margin: 0 10px 0 0;
                svg {
                    width: 20px;
                }
            }
        } 

    }
}