.smooth-angles-container {
  position: relative;
  width: 100px;
  height: 100px; }
  .smooth-angles-container .angle-mask-right {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 0 0 0 100px; }
  .smooth-angles-container .angle-mask-left {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100px 0 0 0; }
  .smooth-angles-container .angle-background {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fcbd15; }

.section-cursus {
  height: 600px; }
  .section-cursus .all-cursusu {
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .section-cursus .all-cursusu .one-cursus .year {
      font-size: 4em;
      font-weight: 700;
      margin: 0; }
    .section-cursus .all-cursusu .one-cursus .line {
      width: 100%;
      height: 10px;
      background-color: #fcbd15;
      margin-bottom: 10px; }
    .section-cursus .all-cursusu .one-cursus .cursus-body {
      width: 200px; }
      .section-cursus .all-cursusu .one-cursus .cursus-body .graduation-name {
        font-size: 1.4em;
        font-weight: 600;
        margin: 0 0 8px 0; }
      .section-cursus .all-cursusu .one-cursus .cursus-body i {
        font-size: 1.2em; }
      .section-cursus .all-cursusu .one-cursus .cursus-body .graudation-location {
        font-style: normal; }

.skills #Groupe_65 {
  transform: scale(0.9); }

.skills .fav-container {
  position: relative;
  width: 100%;
  height: 916px; }
  .skills .fav-container .section-title {
    color: white;
    margin-bottom: 50px; }
  .skills .fav-container h3 {
    font-style: italic;
    font-size: 2em;
    color: white;
    margin: 0  0 70px 320px; }
  .skills .fav-container .fav-absolute {
    position: absolute;
    background-color: #fcbd15;
    width: 100vw;
    padding: 50px 0 50px 50px; }
    .skills .fav-container .fav-absolute .fav-flex {
      display: flex; }
      .skills .fav-container .fav-absolute .fav-flex .fav-logos {
        padding: 0 0px 0 150px; }
  .skills .fav-container .main-skills {
    margin-top: 160px; }

.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 440px; }
  .gallery p {
    padding: 0 0 60px 0;
    font-size: 2em;
    width: 630px;
    line-height: 50px; }
    .gallery p a {
      transition: all ease-in-out 0.2s;
      font-weight: 900;
      color: #0057ff; }
      .gallery p a:hover {
        color: #fcbd15;
        font-size: 1.1em; }
    .gallery p i {
      font-weight: 200; }

.contacts .contacts-container {
  display: flex;
  align-items: flex-start;
  font-size: 2em;
  background-color: white;
  border-radius: 0 0 800px 0;
  height: 520px; }
  .contacts .contacts-container .paper-plane-container {
    width: 600px; }
    .contacts .contacts-container .paper-plane-container svg {
      width: 100%; }
  .contacts .contacts-container .contacts {
    margin-top: 50px;
    margin-left: 50px; }
    .contacts .contacts-container .contacts p {
      margin: 5px 0 5px 0; }
      .contacts .contacts-container .contacts p #behance-contacts {
        transition: all ease-in-out 0.2s;
        font-weight: 900;
        color: #0057ff; }
        .contacts .contacts-container .contacts p #behance-contacts:hover {
          color: #fcbd15;
          font-size: 1.1em; }
      .contacts .contacts-container .contacts p #linkedin-contacts {
        transition: all ease-in-out 0.2s;
        font-weight: 900;
        color: #0077b5; }
        .contacts .contacts-container .contacts p #linkedin-contacts:hover {
          color: #fcbd15;
          font-size: 1.1em; }

#bottom-gear-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #fcbd15; }
  #bottom-gear-container .gears-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  #bottom-gear-container .gears-overflow-container {
    height: 30vh;
    width: 30%; }
    #bottom-gear-container .gears-overflow-container .gears-SVG {
      width: 100%;
      overflow: overlay; }

.marge-left {
  margin: 0 0 0 250px; }
