@import 'variables.scss';

//*smooth angles
.smooth-angles-container {
    position: relative; width: 100px; height: 100px;
    .angle-mask-right {
        width: 100px; height: 100px;background-color: white; border-radius: 0 0 0 100px;
    }
    .angle-mask-left {
        width: 100px; height: 100px;background-color: white; border-radius: 100px 0 0 0;
    }
    .angle-background {
        position: absolute; width: 100px; height: 100px; background-color: #fcbd15
    }
}

.section-cursus {
    margin-bottom: 96px;
    height: max-content;
        .all-cursusu {
        margin-left: 10vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        .one-cursus {
            .year {
                font-size: 4em;
                font-weight: 700;
                margin: 0;
            }
            .line {
                width: 100%;
                height: 10px;
                background-color: $yellow;
                margin-bottom: 10px;
            }
            .cursus-body {
                // margin: 0 0 0 110px;
                width: 200px;
                .graduation-name {
                    font-size: 1.4em;
                    font-weight: 600;
                    margin: 0 0 8px 0;
                }
                i {
                    font-size: 1.2em;
                }
                .graudation-location {
                    font-style: normal;
                }
            }
        }
    }
}

//* Skills
.skills {
    #Groupe_65 {
        transform: scale(0.9);
    }
    .fav-container {
        position: relative;
        width: 100%;
        .section-title {
            color: white;
            margin-bottom: 50px;
        }
        h3 {
            font-style: italic;
            font-size: 2em;
            color: white;
            margin: 0  0 70px 320px;
        }
        .fav-absolute {
            border-radius: 0 0 0 100px;
            // position: absolute;
            background-color: $yellow;
            width: 100vw;
            padding: 50px 0 50px 50px;
            .fav-flex {
                display: flex;
                .fav-logos {
                    padding: 0 0px 0 150px;
                    // svg {}
                }
                .fav-gears-container {
                    margin: -120px 0 0 0;
                    padding: 0 0 0 160px;
                }
            }
            // .fav-gears {}
        }
        .skills-container {
            width: 60vw;
        }
        .main-skills {
            margin-top: 160px;
        }
    }
}

//* Galerie
.gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 440px;
    p{  
        padding: 0 0 60px 0;
        font-size: 2em;
        width: 630px;
        line-height: 50px;
        a {
            transition: all ease-in-out 0.2s;
            font-weight: 900;
            color: #0057ff;
            &:hover {
                color: $yellow;
                font-size: 1.1em;
            }
        }
        i {
            font-weight: 200;;
        }
    }

}

//* contacts
.contacts {
    div {
        p{
            span{

            }
        }
    }
    .contacts-container {
        display: flex;
        align-items: flex-start;
        font-size: 2em;
        background-color: white;
        border-radius: 0 0 800px 0;
        height: 520px;
        .paper-plane-container {
            width: 600px;
            svg {
                width: 100%;
            }
            
        }
        .contacts {
            margin-top: 10vw;
            margin-left: 10vw;
            p {
                margin: 5px 0 5px 0;
                #behance-contacts {
                    transition: all ease-in-out 0.2s;
            font-weight: 900;
            color: #0057ff;
            &:hover {
                color: $yellow;
                font-size: 1.1em;
            }
                }
                #linkedin-contacts    {
                    transition: all ease-in-out 0.2s;
                    font-weight: 900;
                    color: #0077b5;
                    &:hover {
                        color: $yellow;
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
}
#bottom-gear-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: $yellow;
    .gears-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .gears-overflow-container {
        height: 30vh;
        width: 30%;
        .gears-SVG {
            width: 100%;
            overflow: overlay;
        }
    }
}
.marge-left {
    margin-left: 10vw;
}
@media (max-width: 500px) {
    .marge-left {
        // margin: 0 0 0 10px;
        padding-right: 10px;
        // transform: scale(0.8);
    }
    .gallery {
        height: max-content;
        justify-content: center;
        img {
            width: 60%;
        }
    }
    
    .skills {
        .fav-container {
            .fav-absolute {
                padding: 50px 0 50px 3vw;
                h3 {
                    margin: 0 0 0 10vw;
                }
                .fav-flex{
                    display: block;

                    .fav-logos {
                        padding: 0;
                        svg {
                            width: 260px;
                            height: 243px;
                        }
                    }
                    .fav-gears-container {
                        margin: 0;
                        padding: 30px 82px 0 0px;
                        .fav-gears {
                            margin: 0;
                            padding: 0;
                            svg {
                                width: 100%;
                                height: 120px;
                            }
                        }
                    }
                }
            } 
        }
    }
    .contacts {
        h2 {
            margin-bottom: 10px;
        }
        .contacts-container {
            height: 364px;
            display: block;
            font-size: 1.6em;
            .paper-plane-container{
                width: 50px;
                svg {
                    width: 50px;
                }
                .contacts-txt {    
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    #bottom-gear-container {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: $yellow;
        .gears-container {

            align-items: center;
        }
        .gears-overflow-container {
            height: 30vh;
            width: 55%;
            .gears-SVG {
                width: 100%;
                overflow: overlay;
            }
        }
    }
}
