.section-cursus {
  margin: 0 0 150px 0; }
  .section-cursus .all-cursusu {
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .section-cursus .all-cursusu .one-cursus .year {
      font-size: 4em;
      font-weight: 700;
      margin: 0; }
    .section-cursus .all-cursusu .one-cursus .line {
      width: 100%;
      height: 10px;
      background-color: #fcbd15;
      margin-bottom: 10px; }
    .section-cursus .all-cursusu .one-cursus .cursus-body {
      width: 200px; }
      .section-cursus .all-cursusu .one-cursus .cursus-body .graduation-name {
        font-size: 1.4em;
        font-weight: 600;
        margin: 0 0 8px 0; }
      .section-cursus .all-cursusu .one-cursus .cursus-body i {
        font-size: 1.2em; }
      .section-cursus .all-cursusu .one-cursus .cursus-body .graudation-location {
        font-style: normal; }

.skills .fav-container {
  position: relative;
  width: 100%;
  height: 700px; }
  .skills .fav-container h3 {
    font-style: italic;
    font-size: 2em;
    color: white;
    margin: 0 0 70px 0; }
  .skills .fav-container .fav-absolute {
    position: absolute;
    background-color: #fcbd15;
    width: 100vw;
    padding: 50px 0 50px 50px; }
    .skills .fav-container .fav-absolute .fav-flex {
      display: flex; }
      .skills .fav-container .fav-absolute .fav-flex .fav-logos {
        padding: 0 0px 0 150px; }

.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .gallery p {
    padding: 0 0 60px 0;
    font-size: 2em;
    width: 630px;
    line-height: 50px; }
    .gallery p a {
      transition: all ease-in-out 0.2s;
      font-weight: 900;
      color: #0057ff; }
      .gallery p a:hover {
        color: #fcbd15;
        font-size: 1.1em; }
    .gallery p i {
      font-weight: 200; }

.contacts .contacts-container div {
  display: flex;
  align-items: center;
  font-size: 2em;
  margin-bottom: 20px; }
  .contacts .contacts-container div span {
    margin: 0 10px 0 0; }
    .contacts .contacts-container div span svg {
      width: 20px; }
