@import 'variables.scss';
.page-body {
    display: flex;
}
.right-side {
    margin: 0 0 0 250px;
}
.railway {
    width: 100px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: $yellow;
}
.experience-container {

}
.section-title {
    font-size: 7em;
    font-weight: 900;
    // margin: 0;
}
.experience-container-body {
    margin-bottom: 150px;
    margin-left: 150px;
    .experience-location {
        font-size: 4em;
        font-weight: 700;
        margin: 0;
    }
    .experience-body {
        // margin: 0 0 50px 70px;
        .dates {
            font-size: 2.2em;
            font-weight: 200;
            margin: 5px 0 5px 40px;
        }
        .experience-detail {
            list-style-type: none;
            margin: 0;
            line-height: 30px;
                li {
                    font-weight: 500;
                    font-size: 1.4em;
                }
        }
    }
}

//! Old shit
// .xp-container {
//     overflow: hidden;
//     display: flex;
//     height: 938px;
//     .xp-relative-container {
//         position: relative;
//         .xp-gears-container {
//             width: 710px;
//             svg {
//                 position: relative;
//                 margin: -350px 0 0 -400px;
//             }
//         }
//     }
//     .xp-caroussel {
//         display: flex;
//         flex-direction: column;
        
//         .xp-text-container {
    
//             .xp-location {
        
//                 h2 {
//                     font-size: 4em;
//                 }
//                 h3 {
//                     font-size: 2em;
//                 }
//             }
//             .multy-xp-text-container {
//                 .xp-text {
//                     h3 {
                        
//                     }
//                     p {
                        
//                     }
//                 }
//         }
//         }
//     }
// }
// .xp-caroussel {
//     position: sticky;
//     top: 0;
// }
// // @import 'variables.scss';
// // .experiences-container {
// //     .experiences-main-title {
// //         font-size: 4em;
// //     }
// //     .one-experience-container {
// //         height: max-content;
// //         .experience-location-container {
// //             h3 {
// //                 color: $deepBlue;
// //                 font-size: 3em;
// //                 line-height: 0.5em;
// //                 margin: 55px 0 15px 0;
// //             }
// //         }
// //         .experience-body {
// //             display: flex;
// //             height: 100%;
// //             .marker-blue {
// //                 background-color: $deepBlue;
// //                 height: auto;
// //                 margin-left: 5px;
// //                 margin-right: 20px;
// //                 width: 5px;
// //             }
// //             .date-n-text-container {
// //                 height: max-content;
// //                 .experiences-dates-container {
// //                     h4 {
// //                         color: $lightYellow;
// //                         margin: 20px 0 15px 0;
// //                         font-size: 1.5em;
// //                     }
// //                 }
// //                 .text-n-marker {
// //                     display: flex;
// //                     height: 100%;
// //                     .yellow-marker {
// //                         background-color: $lightYellow;
// //                         height: auto;
// //                         margin-left: 5px;
// //                         margin-right: 20px;
// //                         width: 5px;
// //                     }
// //                     .experience-description {
// //                         line-height: 1.5em;
// //                     }
// //                 }
// //             }
// //         }
// //     }
// // }