.xp-container {
  overflow: hidden;
  display: flex;
  height: 938px; }
  .xp-container .xp-relative-container {
    position: relative; }
    .xp-container .xp-relative-container .xp-gears-container {
      width: 710px; }
      .xp-container .xp-relative-container .xp-gears-container svg {
        position: relative;
        margin: -350px 0 0 -400px; }
  .xp-container .xp-caroussel {
    display: flex;
    flex-direction: column; }
    .xp-container .xp-caroussel .xp-text-container .xp-location h2 {
      font-size: 4em; }
    .xp-container .xp-caroussel .xp-text-container .xp-location h3 {
      font-size: 2em; }

.xp-caroussel {
  position: sticky;
  top: 0; }
