@import 'variables.scss';
.page-body {
    display: flex;
}
.railway {
    width: 100px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: $yellow;
}
.experience-container {

}
.section-title {
    font-size: 7em;
    font-weight: 100;
    // font-weight: 900;
}
.experience-container-body {
    margin-bottom: 150px;
    margin-left: 150px;
    .experience-location {
        font-size: 4em;
        font-weight: 700;
        margin: 0;
    }
    .experience-body {
        // margin: 0 0 50px 70px;
        .dates {
            font-size: 2.2em;
            font-weight: 200;
            margin: 5px 0 5px 40px;
        }
        .experience-detail {
            list-style-type: none;
            margin: 0;
            line-height: 30px;
                li {
                    font-weight: 500;
                    font-size: 1.4em;
                }
        }
    }
}

@media (max-width: 1730px) {
    .xp-gears {
        overflow: hidden;
        width: 400px;
        position: absolute;
        right: 0;
        top: 950px;
        z-index: 200;
        svg {
            width: 500px;
        }
    }
}
@media (max-width: 1580px) {
    .xp-gears {
        display: none;
        justify-content: flex-end;
        svg {
            width: 250px;
        }
    }
}