.no-fill {
  fill: none; }

.yellow-fill {
  fill: #fcbd15; }

.yellow-stroke {
  stroke: #141414;
  stroke-miterlimit: 55; }

.dark-stroke {
  stroke: #ffffff;
  stroke-miterlimit: 55; }

.dark-fill {
  fill: #ffffff; }

.white-fill {
  fill: #ffffff; }

.white-stroke {
  stroke: #ffffff;
  stroke-miterlimit: 55; }
