.no-fill {
  fill: none; }

.yellow-fill {
  fill: #fcbd15; }

.yellow-stroke {
  stroke: #fcbd15;
  stroke-miterlimit: 55; }

.dark-stroke {
  stroke: #141414;
  stroke-miterlimit: 55; }

.dark-fill {
  fill: #141414; }
