.no-fill {
  fill: none; }

.yellow-fill {
  fill: #ffbe5d; }

.yellow-stroke {
  stroke: #000061;
  stroke-miterlimit: 55; }

.dark-stroke {
  stroke: #ffffff;
  stroke-miterlimit: 55; }

.dark-fill {
  fill: #ffffff; }
