@import 'variables.scss';
.presentation-text-container {
    padding: 0 70px 0 70px;
    .presentation-text {
        .title-container {
            .title {
                color: $deepBlue;
                font-size: 5em;
                text-transform: uppercase;
                line-height: 0.9em;
            }
            .crypted {
                display: block;
                font-weight: 600;
                color: #fcbd15;
                text-decoration: underline;
                text-decoration-color: $deepBlue ;
            }
            .subtitle-container {
                color: $deepBlue;
                #subtitle-container {
                    color: $deepBlue;
                }
            }
        }
        #presentation {
            display: none;
            color: $deepBlue;
        }
    }
}
.dark-shadow {
    box-shadow: -25px 0px 10px 0px #141414 
}
.yellow-shadow {
    box-shadow: -25px 0px 10px 0px #fcbd15
}
.quote-container {
    color: #241E4E;
    display: none;
    padding-top: 150px;
    width: 75%;
    line-height: 80px;
    margin: 150px auto 0 auto;
    .quote-typo {
        font-size: 6em;
        font-weight: 900;
        font-style: italic;
    }
    .quote-lvl{
        font-style: italic;
        font-weight: 700;
        font-size: 4em;
        display: flex;
    }
    .quote-lvl-1 {
        justify-content: flex-start;
    }
    .quote-lvl-2 {
        justify-content: center;
    }
    .quote-lvl-3 {
        justify-content: flex-end;
    }
    .source {
        display: flex;
        font-size: 2em;
    }
    .quote-emphasis {
        font-weight: 900;
        font-size: 1.5em;
    }
}