.presentation-text-container .presentation-text .title-container {
  margin-left: 350px; }
  .presentation-text-container .presentation-text .title-container .title {
    color: black;
    font-size: 5em;
    text-transform: uppercase;
    line-height: 0.9em; }
  .presentation-text-container .presentation-text .title-container .crypted {
    display: block;
    font-weight: 600;
    color: #fcbd15;
    text-decoration: underline;
    text-decoration-color: #fcbd15; }

.presentation-text-container .presentation-text #presentation {
  display: none; }

.presentation-text-container .bio {
  margin: 0 0 0 350px;
  width: 700px;
  font-size: 1.2em; }

.dark-shadow {
  box-shadow: -25px 0px 10px 0px #141414; }

.yellow-shadow {
  box-shadow: -25px 0px 10px 0px #fcbd15; }

.quote-container {
  color: #241E4E;
  display: none;
  padding-top: 150px;
  width: 75%;
  line-height: 80px;
  margin: 150px auto 0 auto; }
  .quote-container .quote-typo {
    font-size: 6em;
    font-weight: 900;
    font-style: italic; }
  .quote-container .quote-lvl {
    font-style: italic;
    font-weight: 700;
    font-size: 4em;
    display: flex; }
  .quote-container .quote-lvl-1 {
    justify-content: flex-start; }
  .quote-container .quote-lvl-2 {
    justify-content: center; }
  .quote-container .quote-lvl-3 {
    justify-content: flex-end; }
  .quote-container .source {
    display: flex;
    font-size: 2em; }
  .quote-container .quote-emphasis {
    font-weight: 900;
    font-size: 1.5em; }

@media (max-width: 500px) {
  .presentation-text-container .presentation-text .title-container {
    margin-left: 10px; }
  .presentation-text-container .bio {
    width: 90%;
    padding: 0 0 0 10px;
    font-size: 1.2em;
    margin: 0 0 010px; }
  #overflow-container {
    height: 725px; } }
