body {
    margin: 0;
    padding: 0;
}
.top-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.top-gear-container {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    background-color: #141414;
    overflow: hidden;
    .gears-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gears-overflow-container {
        height: 1300px;
        width: 70%;
        .gears-SVG {
            width: 100%;
            overflow: overlay;
        }
    }
}
.top-circle-absolute-container {
    position: absolute;
    width: 215px;
    height: 215px;
    justify-content: center;
    display: flex;
    align-items: center;
    .top-circle-relative-container {
        justify-content: center;
        display: flex;
        align-items: center;
        position: relative;
        #first-ground-circle {
            background: #141414;
            width: 215px;
            height: 215px;
            border-radius: 100%;
            position: absolute;
        }
    }
}