body {
  margin: 0;
  padding: 0; }

.dark-background {
  background-color: #141414; }

.yellow-background {
  background-color: #fcbd15; }

.top-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; }

#top-gear-container {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  overflow: hidden; }
  #top-gear-container .gears-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  #top-gear-container .gears-overflow-container {
    height: 1300px;
    width: 70%; }
    #top-gear-container .gears-overflow-container .gears-SVG {
      width: 100%;
      overflow: overlay; }

.top-circle-absolute-container {
  position: absolute;
  width: 215px;
  height: 215px;
  justify-content: center;
  display: flex;
  align-items: center; }
  .top-circle-absolute-container .top-circle-relative-container {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative; }
    .top-circle-absolute-container .top-circle-relative-container #first-ground-circle {
      width: 215px;
      height: 215px;
      border-radius: 100%;
      position: absolute; }

#overflow-container {
  width: 100%;
  height: 350px; }
