body {
  margin: 0;
  padding: 0; }

.top-gear-container {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  background-color: #141414;
  overflow: hidden; }
  .top-gear-container .gears-overflow-container {
    height: 1300px;
    width: max-content; }
  .top-gear-container .gears-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .top-gear-container .gear {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .top-gear-container .gear-one {
    width: 1000px;
    height: 1000px;
    background-image: url("http://127.0.0.1:5500/assets/gears/SVG/fichier-7.svg"); }
  .top-gear-container .gear-two {
    width: 800px;
    height: 800px;
    background-image: url("http://127.0.0.1:5500/assets/gears/SVG/fichier-8.svg"); }
  .top-gear-container .gear-three {
    width: 600px;
    height: 600px;
    background-image: url("http://127.0.0.1:5500/assets/gears/SVG/fichier-6.svg"); }
  .top-gear-container .gear-four {
    width: 300px;
    height: 300px;
    background-image: url("http://127.0.0.1:5500/assets/gears/SVG/fichier-5.svg"); }

.rotation-fast-clock {
  animation: spinClock;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.rotation-fast-reverse-clock {
  animation: spinReversedClock;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.rotation-slow-clock {
  animation: spinClock;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.rotation-slow-reversed-clock {
  animation: spinReversedClock;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes spinClock {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes spinReversedClock {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@keyframes spinReversedClock {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
