body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif; }

g {
  transform-origin: center center; }

.xp-gears {
  overflow: hidden;
  width: 400px;
  position: absolute;
  right: 0;
  top: 950px;
  z-index: 200; }

.dark-background {
  background-color: #ffffff; }

.yellow-background {
  background-color: #fcbd15; }

.blue-background {
  background-color: #141414; }

#background-circle {
  background-color: #fcbd15;
  z-index: -10;
  position: static;
  height: 0;
  width: 0;
  margin: auto;
  border-radius: 100%; }

.top-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; }

#top-gear-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; }
  #top-gear-container .gears-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  #top-gear-container .gears-overflow-container {
    height: 100vh;
    width: 70%; }
    #top-gear-container .gears-overflow-container .gears-SVG {
      width: 100%;
      overflow: overlay; }

.top-circle-absolute-container {
  position: absolute;
  width: 215px;
  height: 215px;
  justify-content: center;
  display: flex;
  align-items: center; }
  .top-circle-absolute-container .top-circle-relative-container {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative; }

#first-ground-circle {
  width: 215px;
  height: 215px;
  border-radius: 100%;
  position: absolute; }

#overflow-container {
  z-index: 10;
  position: absolute;
  width: 100%;
  overflow: hidden; }

.background-max-height {
  height: 650px; }

.hide {
  display: none; }

@media (max-width: 500px) {
  #top-gear-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    #top-gear-container .gears-container {
      display: flex;
      justify-content: center;
      align-items: center; }
    #top-gear-container .gears-overflow-container {
      height: 100vh;
      width: 70%; }
      #top-gear-container .gears-overflow-container .gears-SVG {
        transform: scale(1.8);
        overflow: overlay; }
  .background-max-height {
    height: 1000px; } }

@media (min-width: 650px) and (max-width: 850px) and (max-height: 425px) {
  #top-gear-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    #top-gear-container .gears-container {
      display: flex;
      justify-content: center;
      align-items: center; }
    #top-gear-container .gears-overflow-container {
      height: 100vh;
      width: 70%; }
      #top-gear-container .gears-overflow-container .gears-SVG {
        transform: scale(0.3);
        overflow: overlay; }
  .background-max-height {
    height: 1000px; } }

.title {
  color: white;
  font-size: 7em;
  text-transform: uppercase;
  line-height: 0.9em;
  font-weight: 900;
  margin-bottom: 0; }

@media (min-width: 801px) and (max-width: 1200px) {
  #top-gear-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    #top-gear-container .gears-container {
      width: 150%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #top-gear-container .gears-overflow-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      #top-gear-container .gears-overflow-container .gears-SVG {
        width: 2000px;
        overflow: overlay; }
  .background-max-height {
    height: 1000px; } }

@media (max-width: 1400px) {
  #top-gear-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    #top-gear-container .gears-container {
      display: flex;
      justify-content: center;
      align-items: center; }
    #top-gear-container .gears-overflow-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      #top-gear-container .gears-overflow-container .gears-SVG {
        width: 2000px;
        overflow: overlay; }
  .background-max-height {
    height: 1000px; } }
